<sly data-sly-template.action="${@ action}">
    <a class="cf--promo-banner--link cmp-teaser__action-link"
        data-sly-attribute="${action.link.htmlAttributes}"
        data-sly-unwrap="${!action.link.valid}"
        id="${action.id}"
        data-discover="true"
        data-cmp-data-layer="${action.data.json}"
        data-cmp-clickable="${action.data ? true : false}">
        <button class="cf--promo-banner--CTA inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 h-10 px-4 py-2 bg-white text-dsg-red hover:bg-gray-100">
            ${action.title}
        </button>
    </a>
</sly>