<div data-sly-use.teaser="com.adobe.cq.wcm.core.components.models.Teaser"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-use.imageTemplate="image.html"
     data-sly-use.actionsTemplate="actions.html"
     data-sly-test.hasContent="${teaser.imageResource || teaser.pretitle || teaser.title || teaser.description || teaser.actions.size > 0}"
     id="${teaser.id}"
     class="cmp-teaser bg-gradient-to-r from-dsg-red/90 to-dsg-red mb-8 rounded-lg shadow-lg overflow-hidden${!wcmmode.disabled && teaser.imageResource ? ' cq-dd-image' : ''}"
     data-cmp-data-layer="${teaser.data.json}">
     <div class="flex flex-col md:flex-row items-center p-6">
        <div class="w-full md:w-1/4 mb-4 md:mb-0">
            <sly data-sly-call="${imageTemplate.image @ teaser=teaser}"></sly>
        </div>
        <div class="w-full md:w-3/4 md:pl-8 text-white">
            <div class="flex items-center gap-2 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="lucide lucide-tag h-5 w-5">
                    <path d="M12.586 2.586A2 2 0 0 0 11.172 2H4a2 2 0 0 0-2 2v7.172a2 2 0 0 0 .586 1.414l8.704 8.704a2.426 2.426 0 0 0 3.42 0l6.58-6.58a2.426 2.426 0 0 0 0-3.42z"></path>
                    <circle cx="7.5" cy="7.5" r=".5" fill="currentColor"></circle>
                </svg>
                <span class="font-semibold" class="cf--promo-banner--pretilte">${teaser.pretitle}</span>
            </div>
            <h2 class="text-2xl font-bold mb-2 cf--promo-banner--title" data-sly-element="${teaser.titleType}">${teaser.title}</h2>
            <p class="mb-4 cf--promo-banner--text">${teaser.description @context='unsafe'}</p>
            <div class="flex items-center gap-4">
                <sly data-sly-call="${actionsTemplate.actions @ teaser=teaser}"></sly>
            </div>
        </div>
    </div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='cmp-teaser'}"></sly>
<script>
    console.log("added to page...");
</script>